.app.dark {
  --bg-color: #5f4a7f;
  --inverted-bg-color: #cfa4d9;

  --primary-color: #e8b8d2;
  --secondary-color: #e9b0a5;

  --inverted-primary-color: #663062;
  --inverted-secondary-color: #98a7c8;

}